*{
    margin: auto;
}

body{
    background-color: rgb(198, 198, 198);
 
}
#root{
margin-top: 20px;    
background-color: rgb(246, 246, 246);
width: 500px;
height: 700px;
overflow:hidden;

}